@{
    ViewData["Title"] = "Dynamic Entities";
}

<div class="container">
    <div id="dynamic-forms-div"></div>
</div>

<!-- React & ReactDOM (development versions via CDN) -->
@* <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script> *@

<!-- React & ReactDOM (production versions via CDN) -->
<script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>

<!-- Babel in the browser (for JSX transpiling on the fly) -->
<script src="https://unpkg.com/@@babel/standalone/babel.min.js"></script>

<!-- Inline script with type="text/babel" so Babel transpiles it. -->
<script type="text/babel">

</script>
