@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Demo App</h1>
    <a class="mt-4 btn btn-lg btn-primary" asp-controller="Snack" asp-action="Index">Get a Snack</a>
</div>
